{% extends "login/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ログイン{% endblock title %}
{% block content %}
<div class="cntainer mt-5">
    <div class="row justify-content-center">
        <div class = "col-6" style="background:whitesmoke">
            <div class="display-1 text-center mb-5">AILearning</div>
            <div>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-warning mb-5 mx-md-auto">Googleアカウントでログイン</a>
            </div>
            <div>
                <button type="button" class="btn mb-5 mx-auto btn-primary btn-lg btn-block" >Twitterアカウントでログイン</button>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}
