{% extends "airun/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}学習実効画面{% endblock title %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="{% static 'airun/js/mychart.js' %}"></script>

<div class="container">
  <div class="row align-items-center" style="height:100px">
    <div class="col-auto">
      <h2 class="mt-1 border-bottom">回帰問題の学習</h2>
    </div>
  </div>
{% if not obj %}
  <div class="row">
    <div class="col-auto">
      <h4 class="mt-2 border-bottom">学習データの選択</h4>
    </div>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data" action="{% url 'airun:DataUpload' %}">
  <div class="container">
    <div class="row mb-5">
      <div class="col-6">
        <h4 class="mt-4 border-bottom">InputData</h4>
        {% csrf_token %}
        {{ form.inputFile |add_class:'w-100 btn-sm btn-info' }}
      </div>
      <div class="col-6">
        <h4 class="mt-4 border-bottom">OutputData</h4>
          {{ form.outputFile |add_class:'w-100 btn-sm btn-info' }}
      </div>
    </div>
    {% comment %} <div class="row">
      <div class="col-auto">
        <h5 class="border-bottom">各種係数設定</h5>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-auto">
        <label class="border-bottom">学習回数: {{ form.epoch }}</label>
      </div>
    </div> {% endcomment %}
  {% if message %}
    <div class="row mb-3">
      <div class="col-auto card-body alert alert-info alert-dismissible">
        <strong>{{ message }}</strong>
      </div>
    </div>
  {% endif %}
    <div class="row mb-3">
      <div class="col-2">
        <button type="submit" class="btn-sm btn-dark">アップロード</button>
      </div>
    </div>
  </form>
{% endif %}

{% if obj %}
<div class="row">
  <div class="col-auto">
    <h5 class="border-bottom">特徴量選択：</h5>
    {{ choice }}
  </div>
</div>
<div class="row">
  <div style="width: 50%">
    <canvas id="chart" height="300" width="600"></canvas>
  </div>
</div>

<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <div class="row">
    <div class="col-auto">
      <h5 class="border-bottom">各種係数設定</h5>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-auto">
      <label class="border-bottom">学習回数: {{ form.epoch }}</label>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-auto">
      {{ form.inputFilePath.as_hidden }}
      {{ form.outputFilePath.as_hidden }}
      <button type="submit" class="btn btn-info btn-sm">学習実行</button>
    </div>
  </div>
</form>
<div class="row mb-3">
  <div class="col-auto">
    <form method="GET" enctype="multipart/form-data" action="{% url 'airun:DataUpload' %}">
      <button type="submit" class="btn btn-danger btn-sm">戻る</button>
    </form>
  </div>
</div>

{% endif %}

{% endblock content %}