{% extends "airun/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}学習実効画面{% endblock title %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'airun/css/loading.css' %}">

<div class="container">
  <div class="row mb-3">
    <div class="col-auto">
      <h2 class="mt-1 border-bottom">回帰問題の学習</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-auto">
      <h4 class="border-bottom">学習データの選択</h4>
    </div>
  </div>
  <form method="POST" id="upload_and_chartcreate" action="{% url 'airun:ChartCreate' %}">
    {% csrf_token %}
    <div class="row mb-5">
      <div class="col-6">
        <h4 class="border-bottom">InputData</h4>
        {{ form.inputFile |add_class:'w-100 btn-sm btn-danger' }}
      </div>
      <div class="col-6">
        <h4 class="border-bottom">OutputData</h4>
          {{ form.outputFile |add_class:'w-100 btn-sm btn-danger' }}
      </div>
    </div>
    {% if message %}
      <div class="row mb-3">
        <div class="col-auto card-body alert alert-info alert-dismissible">
          <strong>{{ message }}</strong>
        </div>
      </div>
    {% endif %}
    <div class="row mb-5">
      <div class="col-auto">
        <button type="submit" class="btn-sm btn-info">アップロード&amp;グラフ作成</button>
      </div>
    </div>
  </form>

    <script src="{% static 'airun/js/ajax.js' %}"></script>

    <tbody>
      <div id="chart_and_run">{% include 'airun/chart.html' %}</div>
    </tbody>
</div>

<div id="overlay"> 
  <div class="cv-spinner">
      <span class="spinner"></span>
  </div>
</div>

{% endblock content %}