{% extends "airun/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}学習実効画面{% endblock title %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="{% static 'airun/js/chart.js' %}"></script>

<div class="container">
  <div class="row align-items-center" style="height:100px">
    <div class="col-auto">
      <h2 class="mt-1 border-bottom">回帰問題の学習</h2>
    </div>
  </div>

<ul class="nav nav-pills">
  {% for i in indexs %}
    {% if forloop.counter == 1  %}
      <li class="nav-item">
        <button type="button" class="nav-link active" data-toggle="tab" href="#content{{ forloop.counter }}" onClick="displayResize()">{{ i.1 }}</button>
      </li>
    {% else %}
      <li class="nav-item">
        <button type="button" class="nav-link" data-toggle="tab" href="#content{{ forloop.counter }}" onClick="displayResize()">{{ i.1 }}</button>
      </li>
    {% endif %}    
  {% endfor %}
</ul>
{% autoescape off %}
  <div class="tab-content" id="graphcontent">
    {% for s in scripts %}
      {% if forloop.counter == 1  %}
        <div class="tab-pane fade show active" id="content{{ forloop.counter }}">
          {{ s }}
        </div>
      {% else %}
        <div class="tab-pane fade" id="content{{ forloop.counter }}">
          {{ s }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endautoescape %}
  {% comment %} <ul class="nav nav-pills">
    {% for i in testin %}
      {% if forloop.counter == 1  %}
        <li class="nav-item">
          <button type="button" class="nav-link active" data-toggle="tab" href="#content2{{ forloop.counter }}" onClick="displayResize()">{{ i.1 }}</button>
        </li>
      {% else %}
        <li class="nav-item">
          <button type="button" class="nav-link" data-toggle="tab" href="#content2{{ forloop.counter }}" onClick="displayResize()">{{ i.1 }}</button>
        </li>
      {% endif %}    
    {% endfor %}
  </ul>
  {% autoescape off %}
    <div class="tab-content" id="graphcontent">
      {% for s in testsc %}
        {% if forloop.counter == 1  %}
          <div class="tab-pane fade show active" id="content2{{ forloop.counter }}">
            {{ s }}
          </div>
        {% else %}
          <div class="tab-pane fade" id="content2{{ forloop.counter }}">
            {{ s }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endautoescape %} {% endcomment %}


{% endblock content %}